# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java_spring_study\studying_spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
